.container-signin {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-signin .content-signin {
  width: 100%;
  padding: 96px;
  background: #FCFCFD;
  border: 1px solid #EBEAED;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-signin .content-signin form p {
  color: #ff3333;
  margin: 0px;
  margin-top: 10px;
  border: 1px solid #ff3333;
  padding: 0px;
  width: 100%;
  text-align: center;
}

.container-signin section.form {
  width: 100%;
  max-width: 350px;
  margin-right: 30px;
}

.container-signin section.form form {
  margin-top: 100px;
}

.container-signin section.form form h1 {
  font-size: 32px;
  margin-bottom: 32px;
}