.modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-remove-tool {
  background-color: #FCFCFD;
  color: #000;
  width: 60%;
  border-radius: 5px;
  padding: 24px;
}

.container-remove-tool span {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.container-remove-tool .content form textarea {
  padding: 24px;
  resize: none;
  height: 100px;
}